---
import TokenConfigLogic from "../components/TokenConfigLogic";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Token Configuration | APIPoweredBlog";
---

<Layout pageTitle={pageTitle}>
  <h1>Token Configuration</h1>
  <TokenConfigLogic client:only="react" />
</Layout>
