---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Add new post</h1>
  <form action="http://localhost:3000/posts" method="post">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
    </div>
    <div>
      <label for="body">Body</label>
      <textarea name="body" id="body"></textarea>
    </div>
    <add-post-btn>
      <button type="submit">Add Post</button>
    </add-post-btn>
  </form>
</Layout>

<script>
  class AddPostBtn extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      button?.addEventListener("click", () => {
        setTimeout(() => {
          window.location.href = "/";
        }, 10);
      });
    }
  }
  customElements.define("add-post-btn", AddPostBtn);
</script>
