---
import CreatePostForm from "../components/CreatePostForm";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Add New Post | staffBlog";
---

<Layout pageTitle={pageTitle}>
  <h1>Add new post</h1>
  <CreatePostForm client:only="react" />
</Layout>
