---
import EditStaffForm from "../components/EditStaffForm";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Update Staff Data | StaffBlog";
---

<Layout pageTitle={pageTitle}>
  <h1>Update staff's data</h1>
  <EditStaffForm client:only="react" />
</Layout>
